*{margin: 0;
padding: 0;}

.logomarca{
	background: black;
	text-align: center;

	
}

.imagem__logo{

	width:50%;
}
.principal{
	background-image: linear-gradient(black, red);
 	padding: 80px;


}
h1 {
	color: #FFFFFF;
	text-align: center;
	font-size: 55px;
	
}

p { color: greenyellow;
	text-align: center;
	font-size: 28px;
}

h2 {
	text-align: center;
	font-size: 45px;
	color: #FFFFFF;
}
.texto {padding: 30px;}
.itens {
	font-style: italic;
}

ul {
	display: inline-block;
	vertical-align: top;
	padding: 30px;
	font-size: 25px;
}
.cardapio{ background-image: linear-gradient(red, black);

	}
 .lista{align-items: center;
	text-align: center;
	padding: 45px;
justify-content: space-around;}

.imagemdelivery {
	width: 20%;
	align-items: center;
}